main{
    width: 400px;
    margin: 0 auto;
    background-color: antiquewhite;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input{
   
   
    width: 50%;
  
}
h1{
    margin: 0;

    
}
button{
   
    padding: 10px 40px;
}